<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='humidityStyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='soilTempStyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesmain.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tempStyles.css') }}">
    <title>{% block title %}{% endblock  %}</title>
</head>
<body>
    {% block body %}{% endblock  %}
</body>
</html>