<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.8.2.8.js"></script>
    <script src="static/js/main.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/humidityStyles.css') }}">
    <title>Document</title>
</head>
<body>
    <header class="temp_header">
        <a href="{{ url_for('index')}}" class="temp_logo">Tempify</a>

        <nav class="temp_nav">
            <a href="{{ url_for('index')}}" class="nav_item">Home</a>
            <a href="{{ url_for('main')}}" class="nav_item">Plant</a>
            <a href="{{ url_for('temp')}}" class="nav_item">Temperature</a>
            <a href="{{ url_for('humidity')}}" class="nav_item">Humidity</a>
            <a href="{{ url_for('soilTemp')}}" class="nav_item"> Soil Moisture</a>
        </nav>

    </header>

    <section class="main_page">
        <div class="main_page_container">
            <div class="main_page_contents">
                {%for row in humidity%}
                <div class="tempature">
                    <h2>HUMIDITY</h2>
                    <h1>Current: {{row.Current_Humidity}}</h1>
                    <h1>Min: {{row.Min_Humidity}}</h1>
                    <h1>Max: {{row.Max_Humidity}}</h1>
                    <h1>Ideal: {{row.Ideal_Humidity}}</h1>
                    {% if row.Current_Humidity > row.Max_Humidity %}
                    <img src="{{ url_for('static', filename='images/hot.png') }}" alt="">
                    {% else %}
                    <img src="{{ url_for('static', filename='images/cold.png') }}" alt="">
                    {% endif %}
                </div>
                {%endfor%}
            </div>
        </div>
    </section>
</body>
</html>