<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
</head>
<body>
    <header class="temp_header">
        <a href="#" class="temp_logo">Tempify</a>

        <nav class="temp_nav">
            <a href="#" class="nav_item">Filler</a>
            <a href="#" class="nav_item">Filler</a>
            <a href="#" class="nav_item">Filler</a>
            <a href="#" class="nav_item">About</a>
        </nav>

        <a href="{{ url_for('login') }}" class="temp_signup">Login with Google</a>
    </header>


    <div class="intro_nav">
        
    </div>
</body>
</html>