<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensors</title>
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.8.2.8.js"></script>
    <script src="static/js/main.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesmain.css') }}">
</head>

<body onload="setupPubNub(); keepAlive(); time(); refreshToken();">
    <header class="temp_header">
        <a href="{{ url_for('index')}}" class="temp_logo">Tempify</a>

        <nav class="temp_nav">
            <a href="{{ url_for('index')}}" class="nav_item">Home</a>
            <a href="{{ url_for('main')}}" class="nav_item">Plant</a>
            <a href="{{ url_for('temp')}}" class="nav_item">Temperature</a>
            <a href="{{ url_for('humidity')}}" class="nav_item">Humidity</a>
            <a href="{{ url_for('soilTemp')}}" class="nav_item"> Soil Temperature</a>
            <a href="#" class="nav_item">Device</a>
            <a href="#" class="nav_item">About</a>
        </nav>
        
        {% if logged_in %}
        <a href="{{ url_for('logout') }}" class="temp_signup">Logout</a>
        {% else %}
        <a href="{{ url_for('login') }}" class="temp_signup">Login</a>
        {% endif %}
    </header>


    {% if user_id==admin_id%} <h2>Current Users</h2>
    <ul>
        {% for user in online_users["Users"] %}
        <li>
            <span>{{user[0]}}</span>
        </li>
        {% endfor %}
    </ul>
    {%endif%}


</body>

</html>
