<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='soilTempStyles.css') }}">
    <title>Document</title>
</head>
<body>
    <header class="temp_header">
        <a href="{{ url_for('index')}}" class="temp_logo">Tempify</a>

        <nav class="temp_nav">
            <a href="{{ url_for('index')}}" class="nav_item">Home</a>
            <a href="{{ url_for('main')}}" class="nav_item">Plant</a>
            <a href="{{ url_for('temp')}}" class="nav_item">Temperature</a>
            <a href="{{ url_for('humidity')}}" class="nav_item">Humidity</a>
            <a href="{{ url_for('soilTemp')}}" class="nav_item"> Soil Temperature</a>
            <a href="#" class="nav_item">Device</a>
            <a href="#" class="nav_item">About</a>
        </nav>

        <a href="{{ url_for('login') }}" class="temp_signup">Login</a>
    </header>
</body>
</html>