<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.8.2.8.js"></script>
    <script src="static/js/soil.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/soilTempStyles.css') }}">
</head>
<body onload="setupPubNub();">
    <header class="temp_header">
        <a href="{{ url_for('index')}}" class="temp_logo">Tempify</a>

        <nav class="temp_nav">
            <a href="{{ url_for('index')}}" class="nav_item">Home</a>
            <a href="{{ url_for('main')}}" class="nav_item">Plant</a>
            <a href="{{ url_for('temp')}}" class="nav_item">Temperature</a>
            <a href="{{ url_for('humidity')}}" class="nav_item">Humidity</a>
            <a href="{{ url_for('soilTemp')}}" class="nav_item"> Soil Moisture</a>
        </nav>

        
    </header>

    <section class="main_page">
        <div class="main_page_container">
            <div class="main_page_contents">
                {%for row in soil%}
                <div class="tempature">
                    <h2>SOIL MOISTURE</h2>
                    <h1>Current: <span id="soil_sensor">...</span></h1>
                    <h1>Ideal Moisture Level: {{row.Ideal_Moisture_Level}}</h1>
                    <img src="{{ url_for('static', filename='images/ok.png') }}" alt="">
                </div>
                {%endfor%}
            </div>
        </div>
    </section>
</body>
</html>